# Lecture 5: Exercise Solutions

## Exercise 2: Sets

Write a function that finds the overlap of two sets and prints them.
Initialize two sets, e.g., with values {13, 25, 37, 45, 13} and {14, 25, 38, 8, 45} and call this function with them.

## Exercise 3: Dictionaries

 * Create a dictionary with two-letter codes of two US states and the full names, e.g., UT: Utah, NY: New York
 * After initially creating the dictionary, add two more states to the dictionary.
 * Create a second dictionary that maps the state codes to an array ofities in that state, e.g., UT: [Salt Lake City, Ogden, Provo, St.George]. 
 * Write a function that takes a state code and prints the full name of the state and lists the cities in that state.

## Exercise 4: Objects

Create a class `Pet` with members `name, pronoun, animal,` and `pet_response`. 

Add a method `pet()` which prints a response that is composed of the members, like that: 

`Layla is a cat. If you pet her, Layla purrs.`  
`Scout is a dog. If you pet her, Scout wags her tail.`

Here are some example calls:

In [ ]:
layla = Pet("Layla", "her", "cat", "purrs")
scout = Pet("Scout", "her", "dog", "wags her tail")

layla.pet()
scout.pet()

## Exercise 6: Pandas Series

Create a new pandas series with the lists given below that contain NFL team names and the number of Super Bowl titles they won. Use the names as indices, the wins as the data.

 * Once the list is created, sort the series alphabetically by index. 
 * Print an overview of the statistical properties of the series. What's the mean number of wins?
 * Filter out all teams that have won less than four Super Bowl titles
 * A football team has 45 players. Update the series so that instead of the number of titles, it reflects the number of Super Bowl rings given to the players. 
 * Assume that each ring costs USD 31,000. Update the series so that it contains a string of the dollar amount including the \$ sign. For the Steelers, for example, this would correspond to: 
 ```
 Pittsburgh Steelers             $ 8100000
 ```

In [ ]:
teams = ["New England Patriots",
         "Pittsburgh Steelers",
         "Dallas Cowboys",
         "San Francisco 49ers",
         "Green Bay Packers",
         "New York Giants",
         "Denver Broncos",
         "Oakland/Los Angeles Raiders",
         "Washington Redskins",
         "Miami Dolphins",
         "Baltimore/Indianapolis Colts",
         "Baltimore Ravens"]
wins = [6,6,5,5,4,4,3,3,3,2,2,2]

In [ ]:
import pandas as pd

In [1]:

def toDollars(amount):
    return "$ " + str(amount)

toDollars(15)

'$ 15'