# Introduction to Data Science â€“ Relational Databases Exercise
*COMP 5360 / MATH 4100, University of Utah, http://datasciencecourse.net/*

In [1]:
import pandas as pd
import sqlite3 as sq

# we connect to the database, which - in the case of sqlite - is a local file
conn = sq.connect("./chinook.db")

### Exercise 1: Simple Queries

1. List all the rows in the genres table.
2. List only the genre names (nothing else) in the table.
3. List the genre names ordered by name.
4. List the genre entries with IDs between 13 and 17.
5. List the genre entries that start with an S.
6. List the GenreIds of Rock, Jazz, and Reggae (in one query).

1. List all the rows in the genres table.

2. List only the genre names (nothing else) in the table.

3. List the genre names ordered by name.

List the genre entries with IDs between 13 and 17.

5. List the genre entries that start with an S.

6. List the entries of Rock, Jazz, and Reggae (in one query).

## Exercise 2: Joining

1. Create a table that contains track names, genre name and genre ID for each track. Hint: the table is sorted by genres, look at the tail of the dataframe to make sure it works correctly.
2. Create a table that contains the counts of tracks in a genre by using the GenreID.
3. Create a table that contains the genre name and the count of tracks in that genre.
4. Sort the previous table by the count. Which are the biggest genres? Hint: the DESC keyword can be added at the end of the sorting expression.

2. Create a table that contains the counts of tracks in a genre by using the GenreID.

3. Create a table that contains the genre name and the count of tracks in that genre

4. Sort the previous table by the count. Which are the biggest genres?